<header class="bg-black text-white relative z-10 px-5 border-b border-dark-gray border-xl text-3">
  <div class="mx-auto h-[70px] flex justify-between items-center">
    <div class="text-xl font-semibold">
      <img src="../../../../assets/logo.png" alt="Logo" class="h-8">
    </div>
    <nav class="flex space-x-4">
      <a routerLink="/courses" routerLinkActive="text-indigo-400" [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-indigo-400">
        Cursos
      </a>
      <a routerLink="/home" routerLinkActive="text-indigo-400" class="hover:text-indigo-400">Home</a>
      <a routerLink="/login" routerLinkActive="text-indigo-400" class="hover:text-indigo-400">Conta/Login</a>
    </nav>
  </div>
</header>