<app-header></app-header>

<div class="text-center text-1 p-8" *ngIf="isAuthenticated; else loginTemplate">
  <h1>{{title}}</h1>
</div>

<div class="container mx-auto flex flex-col lg:flex-row gap-6 px-4 xl:px-0 ">
  <section class="w-full lg:w-1/3 space-y-4 lg:sticky lg:top-4 self-start h-fit rounded-lg shadow-md ">
    <div class="flex flex-col gap-4">
      <app-search (searchChange)="updateSearch($event)"></app-search>
      <app-filter (categoryChange)="updateCategory($event)" (sortingChange)="updateSortingOrder($event)">
      </app-filter>
    </div>
  </section>

  <section class="w-full lg:w-2/3 overflow-y-auto">
    <app-course-card *ngFor="let course of filteredCourses$ | async" [course]="course"></app-course-card>
  </section>
</div>

<ng-template #loginTemplate>
  <h2>Você precisa estar logado para acessar essa página.</h2>
  <!-- <button (click)="redirectToLogin()">Ir para Login</button> -->
</ng-template>

<app-footer></app-footer>